.footer{
    display: flex;
    width: 100%;
    height: auto;
    background-color:#49c524;
    .footer-left{
        flex: wrap;
        .aladin-logo-footer{
            width: 50%;
            margin-top: 15%;
            margin-left: 15%;
        }
        .company-name{
            width: 100%;
            font-size: 24px;
            font-weight: bold;
            color: white;
            margin-top: 40%;
            margin-left: 15%;
        }
    }
    .footer-right{
        width: 50%;
        flex: wrap;
        margin-left: 15%;
        margin-top: 1%;
        color: white;
        font-size: 15px;
        font-weight: bold;
        .technology{
            display: flex;
            .tech-name{
                flex: wrap;
                width: 100%;
                padding: 15px 40px;
                color: white !important;
            }
        }
    }
}