html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.hightlight-text{
  color: red;
}
.title-content-level-1{
  color:#49c524;
  font-weight: bold;
  font-size: 30px;
}

.title-content-level-2{
  color:#49c524;
  font-weight: bold;
  font-size: 24px;
}

.title-content-level-3{
  color:#49c524;
  font-size: 19px;
}

.title-content-level-4{
  color:#49c524;
  font-size: 16px;
}

